<h1 class="mb-3">Planner</h1>
<p>search:</p><input type='text'>
<ul>
  {{#each planner}}
    {{#each this}}
        <li><a href="/calendar/getTasks?{{this.id}}">{{this.title}}</a></li>
    {{/each}}
  {{/each}}
</ul>
