<div class="jumbotron">
  <h1>Graph API Integration - MVC</h1>
  <p class="lead">This sample app shows how we can use the Graph API to add functionality to MS Planner app. This web application adds the ability to search all tasks in your plans and also permits the you to deploy premade templates to create a new plan for a routine job.</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
    <p>Use the navigation bar at the top of the page to get started.</p>
  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>