<br>
<h1>Search</h1>
<br>
<div class="wrap">
      <form class="search" action="/planner/startSearch" method='POST'>
        <input type="text" class="searchTerm" name='searchTerm' placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </form>
</div>

<ul>
  {{#if isSearch}}
    {{#each searchResults}}
      <li><a href="https://tasks.office.com/.onmicrosoft.com/en-US/Home/Planner/#/plantaskboard?groupId={{this.group}}&planId={{this.id}}" target="_blank">{{this.title}} >> Planner: {{this.planName}}</a></li>
    {{/each}}
  {{/if}}
</ul>