{{#if isPlanner}}

  <form action='../planner/createTemplate' method='POST'>
    <h1>Templates</h1>

    <label>Select a template</label>
    <select name='templateId'>
          <option value='monthlyRevision'>Monthly Determination of Elegibility</option>
    </select>
    <br> <br>
    <label>Select Group</label>
    <p>Choose the group to add the the template to:</p>
    <select name='groupId'>
      
        {{#each items.value}} 
          <option value='{{this.id}}'>{{this.displayName}}</option>
        {{/each}}

    </select>
    <br> <br>
    <label for='name'>Enter Name</label>
    <input type="text" name="name" id="name" placeholder="Name">

    <label for='nameList'>Enter list</label>
    <input type="text" name="nameList" id="nameList" placeholder="comma seperated list of names">
    <br> <br>
    <input type="submit" value="Submit">
  </form>

{{else if isCreated}}
  <p>The template was created</p>
{{/if}}
