.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
  display: flex;
  padding-top: 4.5rem;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 0.pem;
}

input, button{border: none;}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,700);

html, body {
  height: 100%;
  width: 100%;
}


* {
  margin:0;
  padding:0;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.userInfo{
  width: 340px;
  height: 100px;
  background-color: #64C7CC;
  float: left;
  margin-top: 40px;
  margin-left: 180px;
  text-align: right;
  padding: 15px;
}

.userPhoto{
  position: absolute;
  background-color: #64C7CC;
  border-radius: 15px;
  text-align: center;
  font-size: 130px;
  width: 190px;
  height: 190px;
  line-height: 210px;
}

.userPhoto img{
  width: 250px;
  border: 8px solid #64C7CC;
  border-radius: 15px;
}